.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.container footer .foot {
    display: block;
    margin-top: 2.5em;
    margin-bottom: 0.1em;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-width: 0.5px;
}
